<!DOCTYPE html>
<html ng-app="utcrApp">
  <head>
    <title>UofT Course Review</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.min.js"></script>
    <script src="javascripts/utcrApp.js"></script>
    <script src="javascripts/utcrApp.controllers.js"></script>



  </head>
  <body>
    <ng-view></ng-view>

  </body>
</html>
