<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>UofT Course Review</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ng-view></ng-view>

    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>

    <!-- Template -->
    <script type="text/ng-template" id="/homePage.html">
      <h1>University of Toronto Course Review</h1>
      <input type="text" ng-model="courseID" placeholder="course id">
      <button ng-click="search()">Search</button>
    </script>

    <script type="text/ng-template" id="/coursePage.html">
      <h1>{{ courseID }}</h1>
      <p> Description: {{courseResponse.description}} </p>
      <p> Hardness: {{courseResponse.hard}} </p>
      <p> Usefulness: {{courseResponse.useful}} </p>
      <p> Interest: {{courseResponse.interest}} </p>
      <br>
      <p> Raw course response: {{courseResponse}} </p>
      <p> Raw review response: {{reviewResponse}} </p>
    </script>


    <script>
      angular.module('app', ['ngRoute', 'ngResource'])
        //---------------
        // Services
        //---------------
        .factory('Courses', ['$resource', function($resource){
          return $resource('/api/course');
        }])

        .factory('Reviews', ['$resource', function($resource){
          return $resource('/api/review');
        }])

        //---------------
        // Controllers
        //---------------
        .controller('HomeController', ['$scope', 'Courses', '$location', function ($scope, Courses, $location) {
          //$scope.editing = [];
          //$scope.courses = Courses.query();
          $scope.search = function(){
            $location.url('/course/' + $scope.courseID);
          }
        }])
        .controller('CourseController', ['$scope', '$routeParams', 'Courses', 'Reviews', '$location', function ($scope, $routeParams, Courses, Reviews, $location) {

          $scope.courseID = $routeParams.id;
          $scope.courseResponse = Courses.get({cid: $routeParams.id });
          $scope.reviewResponse = Reviews.get({cid: $routeParams.id });
          //$scope.courseID = Courses.get({id: $routeParams.id });

        }])
        //---------------
        // Routes
        //---------------
        .config(['$routeProvider', function ($routeProvider) {
          $routeProvider
            .when('/', {
              templateUrl: '/homePage.html',
              controller: 'HomeController'
            })
            .when('/course/:id', {
              templateUrl: '/coursePage.html',
              controller: 'CourseController'
           });
        }]);
    </script>
  </body>
</html>
