body {
  margin: 0px;
  margin-top: -5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f9f9f9;
}

a {
  color: #00B7FF;
}



.site-header {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  background-color: #99ccff;
  padding: 10px;
}

.site-title {
  margin-left: 15px;
  font-size: 150%;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.site-title:visited {
  color: black;
  text-decoration: none;
}



/* home page */

.home-body {
  text-align: center;
  margin-top: 100px;
}

#searchForm {
  margin:10px;
}

.md-button.md-raised.search {
}

.autocomp {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
  min-width: 250px;
  max-width: 400px;
}




/* review page */

.review-body {
  margin: 10px;
}

.course-topSearch {
  margin: 10px;
}

.course-searchInput {
  float:left;
}

.md-button.md-raised.course-searchBTN {
  background-color: #99ccff;
}
.md-button.md-raised.course-searchBTN:not([disabled]):hover {
  background-color: #84c1ff;
}


.course-autocomp {
  display: inline-block;
  width: 40%;
  min-width: 250px;
  max-width: 400px;
  vertical-align: middle;
}

/* for bug fix */
.md-scroll-mask {
  position: initial;
  display: none;
}

.course-section {
}

.course-info {
  margin-bottom: 30px;
  border-style: outset;
  border-width: 1px;
  border-radius: 5px;
  border-color: #f7f7f7;
  background-color: #ffffff;
  padding: 15px;
  min-height: 260px;
}

.course-rating {
  margin-bottom: 30px;
  border-style: outset;
  border-width: 1px;
  border-radius: 5px;
  border-color: #f7f7f7;
  background-color: #ffffff;
  padding: 15px;
  display:block;
  width:auto;
}

.rating-block {
  display:inline-block;
  width:32%;
  text-align:center;
}
.rating-text {
  font-size: 16px;
}

.rating-number {
  font-size: 20px;
  font-weight: bold;
}

.md-button.md-raised.write-review {
  font-size: 20px;
  height:60px;
  width: 70%;
  background-color: #99ccff;
}
.md-button.md-raised:not([disabled]):hover {
  background-color: #84c1ff;
}

.review-section {
  margin-bottom: 30px;
  border-style: outset;
  border-width: 1px;
  border-radius: 5px;
  border-color: #f7f7f7;
  background-color: #ffffff;
  padding: 15px;
  text-align: center;
}

.reviews-container {
  margin-top: 20px;
}

.reviews-li {
  list-style-type:none;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #99ccff;
  padding-left: 20px;
  padding-right: 20px;
}

.review-rate-container {
  display:block;
  text-align:left;
}

.review-rate-block {
  display:inline-block;
  width: 32%;
}

.review-rate-text {
  font-size: 15px;
}

.review-rate-number {
  font-size: 22px;
  font-weight: bold;
}

.review-info-container {
  text-align:left;
  margin-top:-10px;
  margin-bottom:-10px;
}

.review-info-text {
  font-size: 20px;
  font-weight: bold;
  display:inline-block;
  width:48%;
}

.review-info-content {
  font-size: 16px;
  font-weight:normal;
}

.review-comment-container {
  display:table;
  text-align:left;
}

.review-comment-text {
  float:left;
  font-size: 20px;
  font-weight: bold;
}

.review-comment-content {
  font-size: 16px;
  font-weight:normal;
}





@media only screen and (min-width: 768px) {

  .review-body {
    margin: auto;
    width: 80%;
    max-width: 900px;
  }

  .course-section {
    display:table;
  }

  .course-info {
    float:left;
    width: 70%;
  }

  .course-rating {
    float:right;
    width:18%;
  }

  .rating-block {
    display:inline;
  }


}



.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #21568b;
}


/* dialog */

pd {
  display:block;
  magin-bottom: 5px;
}

.dialogWriteReview {
  width: 90%;
  max-width: 600px;
  height: 430px;
  padding: 10px;
}

.dialog-title {
  margin-bottom: 0px;
}

.rating-list-item {
  font-size: 20px;
  margin-top: -5px;
}

.inputComment {
  width: 97%;
  height: 110px;
}

.info1 {
  display:block;
}

.info1year {
  width: 29%;
  display:inline-block;
  margin-bottom: -10px;
}

.info1prof {
  width: 69%;
  display:inline-block;
}

.info2 {
  margin-top:10px;
}

.dialog-buttons {
  margin-top:10px;
  text-align:right;
}

.md-button.md-raised.submitReview {
  background-color: #99ccff;
  color: black;
}
.md-button.md-raised.submitReview:not([disabled]):hover {
  background-color: #84c1ff;
}


.md-button.cancelReview:not([disabled]):hover {
  background-color: #f2f2f2;
}


.ratingNameDiv {
  display: inline-block;
  width: 110px;
  text-align: right;
}

.ratingStarDiv {
  display: inline-block;
}
