body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f1f1f1
}

a {
  color: #00B7FF;
}
.course-container {
  background-color: #f1f1f1;
}

.entry-foot .excerpt p {
   word-wrap: break-word;
}

.site-header {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  background-color: #2196F3;
  padding: 10px;
}

.site-title {
  margin-left: 15px;
  font-size: 150%;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.site-title:visited {
  color: white;
  text-decoration: none;
}


pre {
  white-space: normal;
}





/* ============ home page ==============*/

.home-body {
  text-align: center;
  display: table;
  height: 75%;
  width: 100%;
}

.home-container {
  display: table-cell;
  vertical-align: middle;
}

#searchForm {
  margin:10px;
}


.autocomp {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
  min-width: 250px;
  max-width: 400px;
}

.home-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}



/*=============== review page ===============*/

.review-body {
  margin: 10px;
}

/* top search */

.course-topSearch {
  margin: 10px;
}

.course-searchInput {
  float:left;
}

.course-autocomp {
  display: inline-block;
  width: 40%;
  min-width: 250px;
  max-width: 400px;
  vertical-align: middle;
}

.course-footer {
  text-align: center;
  margin-top: 40px;
}

/* for bug fix */
.md-scroll-mask {
  display: none;
}

/* course info section */

.course-section {
}

.course-info {
  margin-bottom: 30px;
  border-style: outset;
  border-width: 1px;
  border-radius: 5px;
  border-color: #f7f7f7;
  background-color: #ffffff;
  padding: 15px;
  min-height: 260px;
}

.course-rating {
  margin-bottom: 30px;
  border-style: outset;
  border-width: 1px;
  border-radius: 5px;
  border-color: #f7f7f7;
  background-color: #ffffff;
  padding: 15px;
  display:block;
  width:auto;
}

.rating-block {
  display:inline-block;
  width:32%;
  text-align:center;
}
.rating-text {
  font-size: 16px;
  margin-bottom: 5px;
}

.rating-number {
  font-size: 20px;
  font-weight: bold;
}

/* write review section */

.md-raised.md-primary.write-review {
  font-size: 20px;
  height:60px;
  width: 70%;
}


.review-form {
/*  transition: all linear 0.2s;*/
  height: 500px;
  display: initial;
}


.rating-list-item {
  font-size: 20px;
  margin-top: -5px;
  display:-webkit-box;
}

.rating-list-div {
  margin: auto;

}


label {
  color:black;
}

.info1 {
  display:flex;
}

.year-container {
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
}

.prof-container {
  flex: 2;
  margin-left: 10px;
  margin-right: 10px;
}

.comment-container {
  margin-top: -10px;
  margin-bottom: 0px;
}

.form-buttons {
  text-align:right;
}
/*
.md-button.cancelReview:not([disabled]):hover {
  background-color: #f2f2f2;
}
*/

.ratingNameDiv {
  display: inline-block;
  width: 110px;
  text-align: right;
  color: black;
}

.ratingStarDiv {
  display: inline-block;
}

.submit-progress {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}





/* review section */

.review-section {
  margin-bottom: 30px;
  border-style: outset;
  border-width: 1px;
  border-radius: 5px;
  border-color: #f7f7f7;
  background-color: #ffffff;
  padding: 15px;
  text-align: center;
}

.reviews-container {
  margin-top: 20px;
}

.reviews-title {
  text-align:center;
  margin-left:10px;
}

.reviews-li {
  list-style-type:none;
  margin-bottom: 20px;
  border-style: inset;
  border-width: 1px;
  border-radius: 5px;
  border-color: #f7f7f7;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  background-color: #f9f9f9;
}


.review-rate-container {
  display:block;
  text-align:left;
  margin-bottom: 20px;
}

.review-rate-text {
  font-size: 15px;
}

.review-rate-number {
  font-size: 22px;
  font-weight: bold;
}

.review-info-container {
  text-align:left;
}

.review-info-text {
  font-size: 14px;
  font-weight: bold;
}

.review-info-content {
  font-size: 12px;
  font-weight:normal;
}

.review-comment-container {
  display:table;
  text-align:left;
}

.review-comment-text {
  font-size: 14px;
  font-weight: bold;
}

.review-comment-content {
  font-size: 14px;
  font-weight:normal;
}

.review-date-container {
  text-align: right;
}



@media only screen and (min-width: 768px) {

  .review-body {
    margin: auto;
    width: 80%;
    max-width: 900px;
  }

  .course-section {
    display:flex;
  }

  .course-info {
    flex: 4;
  }

  .course-rating {
    flex: 1;
    margin-left: 20px;
  }

  .rating-block {
    display:inline;
  }

  .rating-number {
    margin-top: 5px;
    margin-bottom: 40px;
  }

  .reviews-li {
    display: flex;
  }

  .review-info-left {
    display: inline-block;
    float:left;
    flex:1;
  }

  .review-info-right {
    flex:3;
    position: relative;
  }

  .review-date-container {
    position: absolute;
    bottom: 0;
    right: 0;
  }

}



.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #2196F3;
}



/* not found */

.notFound-section {
  text-align: center;
  margin-top: 50px;
}

/* progress */

.progress-section {
  margin: auto;
  margin-top: 50px;
}


/* ============== angular material changes =============*/


md-input-container.md-default-theme label, md-input-container label, md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder {
  color: black;
}


/*md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label, md-input-container:not(.md-input-invalid).md-input-has-value label {
  color: black;
}*/

md-select.md-default-theme .md-select-value.md-select-placeholder, md-select .md-select-value.md-select-placeholder {
  color: black;
}
