body {
  margin: 0px;
  margin-top: -5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



.site-header {
  border-top: 5px solid;
  border-bottom: 1px solid grey;
}

.site-title {
  margin-left: 15px;
  font-size: 100%;
  font-weight: bold;
}

/* home page */

.home-body {
  text-align: center;
}

.course-input {
  padding: 5px;
  font-size:150%;
}

.course-searchBTN {
  padding: 5px;
  font-size:150%;
}

/* review page */

.review-body {
  margin: 10px;
}


.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #21568b;
}


.modal {

  position: fixed;
  background-color: white;
  z-index: 1;
}

.modalmsg {
  position: fixed;
  background-color: grey;
  z-index: 2;
}

.close {
  float: right;
}
