      <h1>{{ courseID }}</h1>
      <p> Description: {{courseResponse.description}} </p>
      <p> Hardness: {{courseResponse.hard}} </p>
      <p> Usefulness: {{courseResponse.useful}} </p>
      <p> Interest: {{courseResponse.interest}} </p>
      <button ng-click="writeReview()" ng-disabled="written">Write Review</button>
      <!--<div id="modal" ng-controller="RatingController">
        <div ng-init="rating = star.rating + 1"></div>
        <div class="star-rating" star-rating rating-value="rating" data-max="10" on-rating-selected="rateFunction(rating)"></div>
      </div>-->

    <div ng-show="MsgModal" class="modalmsg"> 
	<h2> {{MsgTitle}} </h2>
	<span class="close" ng-click="closeMsgModal()">&times;</span>
        <p> {{MsgBody}} </p>
    </div>


    <div ng-show="ReviewModal" class="modal"> 
	<h2> Review for {{courseID}}</h2>
	<span class="close" ng-click="closeModal()">&times;</span>
        <span ng-repeat="rating in ratings">
	  <div star-rating rating-value="rating.current" max="rating.max" namef="rating.namef" namel="rating.namel" on-rating-selected="getSelectedRating(rating)"></div>
        </span>
        
	<select ng-model="selectedYear" ng-options="x for x in years"></select>
	<input type="text" ng-model="prof" placeholder="prof">
	<input type="text" ng-model="reviewComment" placeholder="comment">
        <button id="submitReview" ng-click="submitReview()">Submit Review</button>
    </div>


      <br>
      <li ng-repeat="review in reviewResponse">
	<p> Hard: {{review.hard}}  Useful: {{review.useful}}  Interest: {{review.interest}} </p>
	<p> Prof: {{review.prof}}  year: {{review.year}} </p>
        <p> comment: {{review.comment}} </p>
      </li>
      <br>
      <p> Raw course response: {{courseResponse}} </p>
      <p> Raw review response: {{reviewResponse}} </p>
