  
<div class="review-body">
  <div class="top-search">
    <input type="text" ng-model="CID" placeholder="Course ID">
    <button ng-click="searchCourse()">Search</button>
  </div>
  <br>

  <div class="course-section">
    <div class="course-info">
      <h1>{{ courseInfoRes.code }}</h1>
      <h2>{{courseInfoRes.name}}</h2>
      <p> Description: {{courseInfoRes.description}} </p>
      <p> Division: {{courseInfoRes.division}} </p>
    </div>
    <div class="course-rating">
      <div class="rating-block">
        <p class="rating-text"> Hardness: </p>
        <p class="rating-number"> {{courseRatingRes.hard | number:2}} </p>
      </div>
      <div class="rating-block">
        <p class="rating-text"> Usefulness:</p>
        <p class="rating-number"> {{courseRatingRes.useful | number:2}} </p>
      </div>
      <div class="rating-block">
        <p class="rating-text"> Interest: </p>
        <p class="rating-number"> {{courseRatingRes.interest | number:2}} </p>
      </div>
    </div>
  </div>

  <div class="review-section">


<!--    <md-button class="md-raised write-review" ng-click="writeReview()"> Write Review </md-button> -->
    <md-button class="md-raised write-review" ng-click="showDialogWriteReview()"> Write Review </md-button>


    <div class="reviews-container">
      <li ng-repeat="review in reviewResponse | orderBy:review:true" class="reviews-li">
        <div class="review-rate-container">
          <div class="review-rate-block">
	    <p class="review-rate-text">Hard: <span class="review-rate-number">{{review.hard}} </span></p>
	  </div>
          <div class="review-rate-block">
	    <p class="review-rate-text">Useful: <span class="review-rate-number">{{review.useful}} </span></p>
	  </div>
          <div class="review-rate-block">
	    <p class="review-rate-text">Interest: <span class="review-rate-number">{{review.interest}} </span></p>
	  </div>
        </div>
	<div class="review-info-container">
          <p class="review-info-text"> Prof: <span class="review-info-content"> {{review.prof}} </span></p>
	  <p class="review-info-text"> year: <span class="review-info-content"> {{review.year}} </span></p>
	</div>
	<div class="review-comment-container">
          <p class="review-comment-text"> comment: <span class="review-comment-content"> {{review.comment}} </span></p>
	</div>
      </li>
    </div>

<!--
    <p> Raw course response: {{courseInfoRes}} </p>
    <p> Raw review response: {{reviewResponse}} </p>
-->
  </div>


</div>


