<md-dialog aria-label="List dialog" class="dialogWriteReview">
  <md-dialog-content>
    <h2> Write Review for {{courseID}}</h2>
    <md-list>
      <md-list-item class="rating-list-item" ng-repeat="rating in ratings">
                 
        <div star-rating rating-value="rating.current" max="rating.max" namef="rating.namef" namel="rating.namel" on-rating-selected="getSelectedRating(rating)"></div>
      </md-list-item>
    </md-list>
<!--
    <span ng-repeat="rating in ratings">
    <div star-rating rating-value="rating.current" max="rating.max" namef="rating.namef" namel="rating.namel" on-rating-selected="getSelectedRating(rating)"></div>
    </span>
-->
    <select class="dropdownYear" ng-model="selectedYear" ng-options="year for year in years"></select>
    <input class="inputProf" type="text" ng-model="prof" placeholder="prof">
    <input class="inputComment" type="text" ng-model="reviewComment" placeholder="comment">
<!--
    <md-list>
      <md-list-item ng-repeat="item in items">
      <p>Number {{item}}</p>
                 
      </md-list-item>
    </md-list>
-->
  </md-dialog-content>

  <md-dialog-actions>
    <md-button ng-click="closeDialog()" class="md-primary">
                 Close Dialog
    </md-button>
    <button id="submitReview" ng-click="submitReview()">Submit Review</button>
  </md-dialog-actions>
</md-dialog>
