
<div class="home-body">
      <h1>University of Toronto Course Review</h1>
      <p>Work in progress. For testing data, enter ece496, ece411 or aps111</p>
<!--
  <form name="searchForm">
    <md-autocomplete required md-input-name="autocomplete" md-selected-item="selectedItem" md-search-text="searchText" md-items="item in getMatches(searchText)" md-item-text="item.display">
      <md-item-template>
        <span md-highlight-text="searchText">{{item.display}}</span>
      </md-item-template>
      <div ng-messages="autocompleteForm.autocomplete.$error">
        <div ng-message="required">This field is required</div>
      </div>
    </md-autocomplete>
    <md-button class="md-raised md-primary search" ng-click="search()"> Search </md-button>
  </form>
-->
  <form>
      <input type="text" class="course-input" ng-model="courseID"  placeholder="course id" maxlength="6">
      <md-button class="md-raised md-primary search" ng-click="search()"> Search </md-button>
  </form>
</div>


